.header__container {
  width: 88%;
  height: 15%;
  background-color: #000000;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 0 0 7px 7px;
  max-height: 90px;
  min-width: 1080px;
}
.header__container .header__inner {
  display: grid;
}
.header__container .header__inner .header__menu {
  height: 50px;
  list-style: none;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
  display: grid;
}
.header__container .header__inner .header__menu .link__off {
  color: #000000;
  text-decoration: none;
}
.header__container .header__inner .header__menu .header__menu {
  height: 235px;
  width: 200px;
  display: none;
  position: absolute;
  top: 100%;
  margin: -10px 0 0 -7%;
}
.header__container .header__inner .header__menu .header__menu .header__menu-item {
  margin-top: 5px;
  height: 50px;
  min-width: 90px;
  width: 130px;
  float: none;
  display: list-item;
  position: relative;
  background-color: red;
  border: outset 2px #181818;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  text-decoration: none;
}
.header__container .header__inner .header__menu .header__menu .header__menu-item:hover {
  background-color: #FFFFFF;
  color: #181818;
}
.header__container .header__inner .header__menu .header__menu-item {
  height: 20px;
  margin: 0 auto 0 10%;
  display: inline-block;
  background-color: #000000;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}
.header__container .header__inner .header__menu .header__menu-item .item__list {
  color: #FFF;
  text-decoration: none;
}
.header__container .header__inner .header__menu .header__menu-item .item__list:hover {
  color: #FF0000;
}
.header__container .header__inner .header__menu .header__menu-item:hover {
  color: red;
}
.header__container .header__inner .header__menu .header__menu-item:hover > .header__menu {
  display: inherit;
}
.header__container .header__inner .button__sign {
  grid-column-start: 6;
  grid-column-end: 6;
  width: 110px;
  background-color: #ffffff;
  border: solid #FFFFFF 2px;
  border-radius: 7px;
  font-size: 22px;
  text-decoration: none;
  margin: 5% auto;
}
.header__container .header__inner .button__sign:hover {
  font-size: 24px;
}
.header__container .header__inner .user__container {
  grid-column-start: 6;
  grid-column-end: 6;
  max-width: 200px;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}
.header__container .header__inner .user__container .user__img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.header__container .header__inner .user__container .user__name {
  width: 100px;
  height: 50px;
  font-size: 15px;
  color: #ffffff;
  list-style: none;
}
.header__container .header__inner .user__container .user__name .user__menu-item {
  display: none;
  width: 100px;
  height: 35px;
  border: none;
  background-color: #717171;
  color: #000000;
}
.header__container .header__inner .user__container .user__name .user__menu-item:hover {
  background-color: #ffffff;
}
.header__container .header__inner .user__container .user__name:hover .user__menu-item {
  display: block;
  tab-index: 0;
}

/*# sourceMappingURL=Header.css.map */
